body {
  margin: 0;
  padding: 25px 5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  padding: 8px;
  width: 300px;
  outline: none;
  font-size: 1.0025rem;
}

p {
  border-left: 4px solid #e0e0e0;
  padding: 6px 0 6px 4px;
  background: #fafafa;
  font-weight: 300;
  font-size: .95rem;
}
